.header__bg {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999 !important;
    width: 100vw;
    height: 50px;
    background-color: var(--color-raised-bg);
    padding: 5px;
    text-align: center;
}

.header__bg__logo.logo {
    position: relative;
    width: 250px;
}