body {
    background: black;
}

html {
    overflow-y: hidden;
}

.home {
    position: absolute;
    width: 70px;
    height: 70px;
}
img.home {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    transition: all ease-in-out 0.3s;
}
div.home {
    background-color: skyblue;
    border-radius: 5px;
}
.home:hover {
    transform: scale(1.2);
}

table {
    position: absolute;
    font-family: sans-serif;
    border-collapse: collapse;
    width: calc(100vw - 200px);
    color: white;
    background: rgb(76 76 76);
    left: 100px;
}

td, th {
    border: 1px solid rgb(221 221 221);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(117 117 117);
}